* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    color: black;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: white;
}

.navbar .logo{
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links ul{
    list-style: none;
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 15px;
}

.navbar .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}


header{
    text-align: center;
    padding: 40px 20px;
    background-color: #333;
    color: white;
}

header h1{
    font-size: 36px;
}

header p{
    font-size: 20px;
    margin-top: 10px;
}


.about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.about-text{
    flex: 1;
    padding: 20px;
    text-align: center;
}

.about-img{
    flex: 1;
    padding: 20px;
}

.about-img img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.skills{
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card{
    background-color: black;
    color: white;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.skill-card i{
    font-size: 24px;
    margin-right: 10px;
}

.projects{
    background-color: white;
    text-align: center;
    padding: 30px 0;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.projects h3{
    margin-bottom: 20px;
}

.project-card{
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.project-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.project-button .btn{
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
}

.project-button .btn:hover{
    background-color: burlywood;
}

.contact{
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

.contact form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.contact input,
.contact textarea{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FA7436;
    color: white;
    margin-bottom: 10px;
}

.contact button{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: burlywood;
}

.social-links a i{
    margin-right: 6px;
}

.social-links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 10px;
}